html {
    scroll-behavior: smooth;
}

body {
    background-color: #eaeaea
}

li {

    font-weight: 500;
    font-size: 30px;
    color: #eaeaea;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 30px;
    color: #eaeaea;
}

.input-group.searchbar{
    width:30%;
    left: 20px;
    
}

.btn-primary{
    background-color:#4F6D7A;
    border-color:#4F6D7A;
}

.form-control.search{
    background-color: transparent;
    border-color: white;
}

/*Talks navbar text size*/
.navbar-light .navbar-brand {
    color: #eaeaea;
    font-size: 30px;
}

.navbar {
    background-color: #4F6D7A;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0px;
    width: 100%;
    right: 0;

}

div.col-md-3 {
    margin: auto;
}

.card {
    animation: card_animation 1s cubic-bezier(0.470, 0.000, 0.745, 0.715);
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    border-color: #4F6D7A
}

.top-card {
    width: 100%;
    height: auto;
    padding-top: 2rem !important;
    padding-bottom: 1rem !important;
}

.card-body h6 {
    padding-top: 5px;
    position: relative;
    left: 25px;
}

.card-spacing {
    padding-top: 50px;
}

#Inputquantity.form-control{
    width: 15%;
    left: 45%;
    position: relative;
}

.presentation-title {
    text-align: center;
}

.presented {
    text-align: center;
}

.presenter_name {
    text-align: center;
}

.topics {
    padding-left: 20px;
}

.description {
    padding-left: 20px;
}

.book_button {
    text-align: center;
    padding-top: 20px;
}

.pricing {
    position: relative;
    top: 5%;
    text-align: center;
}

#comment-id.form-control {
    width: 60%;
}

.card {
    width: 70rem;
}

.col.px-md-4.xs-4 {
    padding-bottom: 5%;
}

.mx-auto.d-block {
    position: relative;
    left: 100px;
}

.pt-5 {
    padding-top: 5rem !important;
}

.comment-section {
    padding-left: 10%;
}

h1 {
    padding-bottom: 10px;
    padding-top: 10px;
}

.location{
    padding-left:20px;
    padding-top:5px;
    padding-bottom:5px;
}

.ticket-quantity-form{
    width:10%;
}

@media (max-width: 1200px) {
    .card {
        width: 50rem;
    }

    .top-card {
        padding-left: 5%;
    }

    .presenter_name {
        padding-bottom: 50px;
    }

    .mx-auto.d-block {
        position: relative;
        left: 50px;
    }
}

@media(max-width: 992px) {
    .card {
        width: 30rem;
    }

    .presentation-title {
        position: static;
        left: 0px;
    }

    .presented {
        position: static;
        left: 0px;
    }

    .presenter_name {
        position: static;
        left: 0px;
    }

    .status {
        padding-left: 0px;
    }

    .mx-auto.d-block {
        position: relative;
        left: 0px;
    }

}

@media(max-width: 700px) {

    .top-card {
        padding-left: 5%;

    }

    .card-body {
        text-align: center;
    }

    .presentation-title {
        position: static;
        left: 0px;
    }

    .presented {
        position: static;
        left: 0px;
    }

    .presenter_name {
        position: static;
        left: 0px;
    }

}

@media(max-width: 600px) {
    .col.px-md-4.xs-4 {
        padding-left: 25%;
    }

    .comment-section {
        width: 100%;
    }
}

@keyframes card_animation {
    0% {
        transform: translateX(0) translateY(0);
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    }

    100% {
        transform: translateX(8px) translateY(-8px);
        box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e,
            -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
    }
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.25;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
}