body {
    background-color: #eaeaea
}

li {
    font-weight: 500;
    font-size: 20px;
    color: #eaeaea;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 20px;
    color: #eaeaea;
}

.input-group.searchbar{
    width:30%;
    left: 325px;
    
}

.form-control.search{
    background-color: transparent;
    border-color: white;
}

/*Talks navbar text size*/
.navbar-light .navbar-brand {
    color: #eaeaea;
    font-size: 30px;
    padding-left: 10px;
}

.navbar {
    background-color: #4F6D7A;
    top: 0;
    left: 0;
    margin: 0px;
    width: 100%;
    right: 0;
}

div.col-md-3 {
    margin: auto;
}

/*Overwrites jumbotron default colours*/
.bg-light {
    --bs-bg-opacity: 0;
    background-color: #ffffff !important;
}

/*centre the jumbotron text for "let's hear it"*/
.presentation {
    text-align: center;
}

.presentation h1 {
    width: 100%;
    height: auto;
    position: relative;
    top: -400px;
    right: -10px;
    font-size: 40px !important;
    animation-delay: 3s;
}

/*Image animation next to "Let's hear it"*/
img.exclamation {
    animation: breathing 3s ease-out infinite normal;
    transition-timing-function: ease-out;
}

img.rounded.float-left {
    width: 50%;
}

img.rounded.float-right {
    width: 75%;
}

/*removes excess padding from jumbotron*/
.p-5 {
    padding: 0rem !important;
}

.jumbotron-button {
    position: relative;
    text-align: center;
}

.bottom-card-details h6{
    padding-top:5px;
    position:relative;
    left:25px;
}

.card {
    height: 480px;
    max-height: 480px;
    overflow-y: auto;
    animation: card_animation 1s cubic-bezier(0.470, 0.000, 0.745, 0.715);
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    border-color: #4F6D7A
}

/*adds consistent padding to top of cards when breakpoint is reached*/
.px-md-4 {
    padding-top: 2rem !important;
    padding-bottom: 1rem !important;
}

.card-body h6 {
    padding-top: 5px;
    left: 25px;
}

.card-body{
    max-height:280px;
}

.card-spacing {
    padding-top: 50px;
}

.btn-primary {
    background-color: #4F6D7A;
    border-color: #4F6D7A;
}

.jumbotron {
    width: auto;
    height: auto;
}

.title-phrase {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    width: 100%;
}

.container.title {
    position: relative;
    text-align: center;
}

#welcome-text {
    padding-top: 25%;
}

.pt-5 {
    padding-top: 5rem !important;
}

.top-card{
    width: 18rem;
}

.btn.btn-primary.searchbtn{
    background-color: #3e3e3e;
}

@media (max-width: 576px) {

}

@media (max-width: 760px) {
    img.rounded.float-left{
        visibility:hidden !important;
    }
    img.rounded.float-right{
        visibility:hidden !important;
    }
    img.rounded.mx-auto.d-block{
        visibility:hidden !important;
    }
    .h2,
    h2 {
        font-size: 30px!important;
    }

}

@media (max-width: 992px) {

    .h2, h2{
        font-size: 15px
    }

    img.exclamation {
        visibility: hidden !important;
    }

    .btn-primary {
        font-size: 15px;
    }

    #welcome-text {
        padding-top: 0%;
    }

}

@keyframes card_animation {
    0% {
        transform: translateX(0) translateY(0);
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    }

    100% {
        transform: translateX(8px) translateY(-8px);
        box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e,
            -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
    }
}

@keyframes breathing {
    0% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.5);
    }
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.25;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
}